﻿<h1>Bienvenido al sitio de Registro Aduanero de Barco</h1>
<div>
    <ul>
        <li>
            <a href="/Barcos/RegistrarBarco">Registrar Barco</a>
        </li>
        <li>
            <a href="/Barcos/ListarBarcos">Listado Barcos</a>
        </li>
    </ul>
</div>